.my-account {
    border: 1px solid #0002;
    border-radius: 10rem;
    display: grid;
    place-items: center;

    height: 3rem;
    width: 3rem;
}

.btn.my-account:focus {
    outline: 2px solid #000;
}
