@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Oswald:wght@200..700&family=Outfit:wght@100..900&display=swap');
@import url("/custom.css");

html {
  height: 100%;
  overflow: hidden;
}

body {
  --bs-font-body: "Google Sans", sans-serif;
  --bs-font-head: "Outfit", "Google Sans Flex", "Google Sans", san-serif;
  --bs-font-monospace: "JetBrains Mono", "Cascadia Code", monospace;

  font-family: var(--bs-font-body);
  font-size: 16px;
}

.app-wrapper {
  padding-top: 4rem;
  width: 100%;
  height: 100vh;

  overflow-y: auto;
  overflow-x: hidden;
}

.app-wrapper > main {
  padding: 16px;
}

main {
  width: 100%;
}

.read-content {
  padding: 4rem 4rem 4rem 4rem;
  max-width: 1100px;
  margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, title {
    font-family: var(--bs-font-head);
    font-weight: 600 !important;
}


.cinematic-cover {
  width: 100%;
  min-height: 18rem;
  background-size: cover;
}

.main-article {
    text-align: justify;

    > p {
        font-size: 18px;
        line-height: 2;
    } 
}



.aictr {
    align-items: center;
}

.jcctr {
    justify-content: center;
}

.spbtw {
    justify-content: space-between;
}

.editorial-input {
    display: block;
    border: none;
    resize: none;
    outline: none;
    overflow: hidden;

    font-size: 18px;
    text-align: justify;

    margin: 0.5rem 0 3rem 0;
    padding: 1rem 0 1rem 0;

    max-width: 900px;
    width: 100%;

    border-bottom: 1px solid #0001;

    font-family: var(--bs-font-body);
}

.editorial-input.title {
    font-weight: 700;
    font-size: 2.5em;
    font-family: var(--bs-font-head) !important;
    text-align: left;
}

.editorial-input.headline {
    font-size: 1.5em;
    font-weight: 500;
}

.editorial-input.body {
    line-height: 2;
}

.editorial-input:focus {
    border-bottom-color: #000;
}
